html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    width: 10rem;
    height: 100%;
}
.flex {
    display: flex;
}
.flex.between {
    justify-content: space-between;
}
.left {
    width: 4.9074rem;
    height: 100px;
    background: skyblue;
}
.right {
    width: 4.9074rem;
    height: 100px;
    background: gold;
}
input, button {
    -webkit-appearance:none;
    outline: none;
    border: none;
}
input:focus{outline:none;}
.input::-webkit-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
    caret-color: #999;
}
.input::-moz-placeholder{  
    font-size: 0.3733rem;
    color: #999;
}
.input:-ms-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
}

.hide {
    display: none !important;
}
.message {
    visibility: hidden;
}
.message.show {
    visibility: visible;
}
.icon-msg-close {
    position: absolute;
    right: 0.0667rem;
    top: 0.0667rem;
    font-size: 0.4rem;
    color: #ccc;
    width: 0.5333rem;
    text-align: center;
    cursor: pointer;
}
.msg_wrapper {
    height: 0.8rem;
    position: relative;
    padding: 0.1333rem 0.4rem;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    font-size: 0.3467rem;
    color: red;
    text-align: center;
}
.msg_wrapper.success {
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
    color: #62c714;
}
.msg_wrapper.warning {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
    color: #e6b40f;
}
.msg_wrapper.danger {
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    color: red;
}
.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
}
.loading-wrapper.show {
    display: block;
}   
.loading{
    height: 0.2667rem;
    margin: 0 auto;
    margin-top: 70%;
    color: #fff;
}
.loading-text {
    margin-top: 0.2rem;
    font-size: 0.4rem;
    text-align: center;
}
.loading span{
    display: inline-block;
    width: 0.2667rem;
    height: 100%;
    margin-right: 5.0025px;
    border-radius: 50%;
    background: greenyellow;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.join-success {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #f6ffed;
    border: 0.0133rem solid #b7eb8f;
    margin-top: 0.2667rem;
    text-align: center;
    color: greenyellow;
    font-size: 0.4rem;
}
.join-faild {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    margin-top: 0.2667rem;
    text-align: center;
    color: red;
    font-size: 0.4rem;
}
.img-100 {
    width: 10rem;
    height: 17.7778rem;
}
.title-1 {
    text-align: center;
    font-size: 0.3889rem;
    color: #191919;
    font-weight: bold;
    padding: 0.8333rem 0 0.2963rem 0;
}

.bar.right {
    right: 0.713rem;;
}
.bar.left {
    left: 0.713rem;
}
.footer {
    position: fixed;    
    bottom: 0;
    left: 0;
    width: 10rem;
    height: 3.1759rem;
    background: #cca075;
}
.footer .select-bar {
    width: 9.7222rem;
    height: 0.9259rem;
    border: 1px solid #a44b0b;
    margin: 0 auto;
    background: #d8b235;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .select-bar .title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e6a21f;
    height: 100%;
    font-size: 0.3519rem;
    color: #36210c;
    background: linear-gradient(#f1c746, #e9a632);
    font-weight: bold;
    box-sizing: border-box;
}
.footer .menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.3704rem;
    height: 2.3148rem;
    overflow: hidden;
}
.footer .menu {
    width: 6.2963rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}
.menu .menu-box {
    width: 25%;
    text-align: center;
    height: 100%;
}
.menu-box.active {
    background: #be9064;
}
.menu-box .section-name {
    font-size: 0.3148rem;
    color: #522b04;
    font-weight: bold;
    margin: 0.3519rem 0 0.0463rem 0;
}
.menu-item {
    color: #57300a;
    font-size: 0.2593rem;
}
.menu-item.active {
    color: #830100;
    font-size: 0.2593rem;
}
.home-box {

}
.qr-box-c {
    width: 1.4815rem;
    height: 1.8149rem;
    background: #fff;
    padding: 0.0926rem;
    transform: scale(0.9);
}
.qr-box-c  canvas {
    width: 100%;
    height: 100%;
}
.ball {
    width: 0.3148rem;
    height: 0.3148rem;
    background: url('../images/icon/ball.png') no-repeat;
    background-size: 100%;
    margin-right: 0.1852rem;
    margin-top: 0.0463rem;
}
.home-box {
    text-align: center;
}
.icon-home {
    display: block;
    width: 0.6296rem;
    height: 0.6296rem;
    background: url('../images/icon/home.png') no-repeat;
    background-size: 100%;
    margin-bottom: 0.1481rem;
}
.link-home {
    color: #000;
    font-size: 0.2778rem;
    font-weight: bold;
}