html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    width: 10rem;
    height: 100%;
}
.flex {
    display: flex;
}
.flex.between {
    justify-content: space-between;
}
.left {
    width: 4.9074rem;
    height: 100px;
    background: skyblue;
}
.right {
    width: 4.9074rem;
    height: 100px;
    background: gold;
}
input, button {
    -webkit-appearance:none;
    outline: none;
    border: none;
}
input:focus{outline:none;}
.input::-webkit-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
    caret-color: #999;
}
.input::-moz-placeholder{  
    font-size: 0.3733rem;
    color: #999;
}
.input:-ms-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
}

.hide {
    display: none !important;
}
.message {
    visibility: hidden;
}
.message.show {
    visibility: visible;
}
.icon-msg-close {
    position: absolute;
    right: 0.0667rem;
    top: 0.0667rem;
    font-size: 0.4rem;
    color: #ccc;
    width: 0.5333rem;
    text-align: center;
    cursor: pointer;
}
.msg_wrapper {
    height: 0.8rem;
    position: relative;
    padding: 0.1333rem 0.4rem;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    font-size: 0.3467rem;
    color: red;
    text-align: center;
}
.msg_wrapper.success {
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
    color: #62c714;
}
.msg_wrapper.warning {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
    color: #e6b40f;
}
.msg_wrapper.danger {
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    color: red;
}
.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
}
.loading-wrapper.show {
    display: block;
}   
.loading{
    height: 0.2667rem;
    margin: 0 auto;
    margin-top: 70%;
    color: #fff;
}
.loading-text {
    margin-top: 0.2rem;
    font-size: 0.4rem;
    text-align: center;
}
.loading span{
    display: inline-block;
    width: 0.2667rem;
    height: 100%;
    margin-right: 5.0025px;
    border-radius: 50%;
    background: greenyellow;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.join-success {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #f6ffed;
    border: 0.0133rem solid #b7eb8f;
    margin-top: 0.2667rem;
    text-align: center;
    color: greenyellow;
    font-size: 0.4rem;
}
.join-faild {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    margin-top: 0.2667rem;
    text-align: center;
    color: red;
    font-size: 0.4rem;
}
.img-100 {
    width: 10rem;
    height: 17.7778rem;
}
.title-1 {
    text-align: center;
    font-size: 0.3889rem;
    color: #191919;
    font-weight: bold;
    padding: 0.8333rem 0 0.2963rem 0;
}