html {
    height: 100%;
    max-width: 1080px;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    width: 10rem;
    min-height: 100%;
    overflow-x: hidden;
}
.flex {
    display: flex;
}
.flex.between {
    justify-content: space-between;
}
.left {
    width: 4.9074rem;
    height: 100px;
    background: skyblue;
}
.right {
    width: 4.9074rem;
    height: 100px;
    background: gold;
}
input, button {
    -webkit-appearance:none;
    outline: none;
    border: none;
}
input:focus{outline:none;}
.input::-webkit-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
    caret-color: #999;
}
.input::-moz-placeholder{  
    font-size: 0.3733rem;
    color: #999;
}
.input:-ms-input-placeholder{
    font-size: 0.3733rem;
    color: #999;
}

.hide {
    display: none !important;
}
.message {
    visibility: hidden;
}
.message.show {
    visibility: visible;
}
.icon-msg-close {
    position: absolute;
    right: 0.0667rem;
    top: 0.0667rem;
    font-size: 0.4rem;
    color: #ccc;
    width: 0.5333rem;
    text-align: center;
    cursor: pointer;
}
.msg_wrapper {
    height: 0.8rem;
    position: relative;
    padding: 0.1333rem 0.4rem;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    font-size: 0.3467rem;
    color: red;
    text-align: center;
}
.msg_wrapper.success {
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
    color: #62c714;
}
.msg_wrapper.warning {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
    color: #e6b40f;
}
.msg_wrapper.danger {
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    color: red;
}
.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
}
.loading-wrapper.show {
    display: block;
}   
.loading{
    height: 0.2667rem;
    margin: 0 auto;
    margin-top: 70%;
    color: #fff;
}
.loading-text {
    margin-top: 0.2rem;
    font-size: 0.4rem;
    text-align: center;
}
.loading span{
    display: inline-block;
    width: 0.2667rem;
    height: 100%;
    margin-right: 5.0025px;
    border-radius: 50%;
    background: greenyellow;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.join-success {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #f6ffed;
    border: 0.0133rem solid #b7eb8f;
    margin-top: 0.2667rem;
    text-align: center;
    color: greenyellow;
    font-size: 0.4rem;
}
.join-faild {
    color: rgba(0,0,0,.85);
    padding: 0.1067rem 0.2rem;
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    margin-top: 0.2667rem;
    text-align: center;
    color: red;
    font-size: 0.4rem;
}
.img-100 {
    width: 10rem;
    height: 17.7778rem;
}
.content-section-1 {
    background: #fff;
    padding: 0 0.1852rem;
    margin-bottom: 0.1852rem;
}
.content-section-2 {
    background: #cca075;
    padding: 0 0.1852rem;
}
.title-1 {
    text-align: center;
    font-size: 0.3889rem;
    color: #191919;
    font-weight: bold;
    padding: 0.8333rem 0 0.2963rem 0;
}
.title-2 {
    width: 7.2222rem;
    text-align: center;
    font-size: 0.3148rem;
    color: #000;
    font-weight: bold;
    padding: 0.3704rem 0 0px 0;
    margin: 0 auto 0.3704rem;
    border-bottom: 0.0741rem solid #fae9cc;;
}
.title-3 {
    width: 4.6297rem;
    text-align: center;
    font-size: 0.3148rem;
    color: #fff;
    font-weight: bold;
    margin: 0 auto 0.3704rem;
    padding: 0.3704rem 0 0px 0;
    border-bottom: 0.0741rem solid #e4b263;;
}
.bar.right {
    right: 0.713rem;;
}
.bar.left {
    left: 0.713rem;
}
.footer {
    position: fixed;    
    bottom: 0;
    left: 0;
    width: 10rem;
    height: 3.1759rem;
    background: #cca075;
    z-index: 9;
}
.footer .select-bar {
    width: 9.7222rem;
    height: 0.9259rem;
    border: 1px solid #a44b0b;
    margin: 0 auto;
    background: #d8b235;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .select-bar .title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e6a21f;
    height: 100%;
    font-size: 0.3519rem;
    color: #36210c;
    background: linear-gradient(#f1c746, #e9a632);
    font-weight: bold;
    box-sizing: border-box;
}
.footer .menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.3704rem;
    height: 2.3148rem;
    overflow: hidden;
}
.footer .menu {
    width: 6.0185rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.menu .menu-box {
    width: 25%;
    text-align: center;
    height: 100%;
}
.menu-box.active {
    background: #be9064;
}
.menu-box .section-name {
    font-size: 0.3148rem;
    color: #522b04;
    font-weight: bold;
    margin: 0.2315rem 0 0.0463rem 0;
}
.menu-item {
    color: #57300a;
    font-size: 0.2593rem;
}
.menu-item.active {
    color: #830100;
    font-size: 0.2593rem;
}
.home-box {

}
.qr-box-c {
    width: 1.4815rem;
    height: 1.8149rem;
    background: #fff;
    padding: 0.0926rem;
    transform: scale(0.9);
}
.qr-box-c  canvas {
    width: 100%;
    height: 100%;
}
.ball {
    width: 0.3148rem;
    height: 0.3148rem;
    background: url('../images/icon/ball.png') no-repeat;
    background-size: 100%;
    margin-right: 0.1852rem;
    margin-top: 0.0463rem;
}
.home-box {
    text-align: center;
}
.icon-home {
    display: block;
    width: 0.6296rem;
    height: 0.6296rem;
    background: url('../images/icon/home.png') no-repeat;
    background-size: 100%;
    margin: 0 auto 0.1389rem;
}
.icon-end {
    display: block;
    width: 0.4444rem;
    height: 0.5833rem;
    background: url('../images/icon/end.png') no-repeat;
    background-size: 100%;
    margin: 0 auto 0.1111rem;
}
.link-home {
    color: #522b04;
    font-size: 0.2778rem;
    font-weight: bold;
    text-decoration: none;
}
.img-box-t1 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.img-box-t1 .img-box-out{
    width: 8.1481rem;
    padding: 0.1667rem;
    box-sizing: border-box;
    background: #e6e6e6;
    box-shadow: 0px 3px 0px 0 rgba(0, 0, 0, 0.3);    /*下边阴影  黄色*/
    z-index: 8;
}
.img-box-t1 .img-box-out .img {
    width: 100%;
    max-height: 3.5185rem;
}
.img-box-t1 .img-box-out > p {
    font-size: 0.1482rem;
    color: #282828;
    line-height: 0.2778rem;
    margin: 0.1481rem 0 0 0;
}
.desk-bg {
    width: 9.2593rem;
    height: 0.4537rem;
    z-index: 2;
    position: relative;
    top: -0.0463rem;
}
.img-box-t2 {
    width: 4.4444rem;
    background: #e6e6e6;
}
.img-box-t2.t4 {
    width: 4.037rem;
}
.img-box-t2 p {
    font-size: 0.1389rem;
    color: #000;
    padding: 0.1389rem;
}
.img-box-t2 .img {
    width: 100%;
    height: 2.1667rem
}
.img-box-t2.t4 .img {
    width: 100%;
    height: 2.7222rem;
}
.img-box-t2.t3 .img {
    width: 100%;
    height: 3.0556rem;
}
.two-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5556rem;
    padding: 0 0.1852rem;
}
.title-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-1 .title-radius {
    width: 2.8981rem;
}
.group-name {
    font-size: 0.1852rem;
    color: #fff;
    display: inline-block;
    background: #bb0417;
    height: 0.4259rem;
    line-height: 0.4259rem;
    width: 1.3519rem;
    text-align: center;
    margin-right: 0.1852rem;
}
.img-gorup-wrapper {
    position: relative;
    width: 8.6667rem;
    margin: 0 auto 0.2315rem;
}
.img-gorup-wrapper img {
    width: 8.6389rem;
    align-items: center;
    display: block;
}
.img-gorup-wrapper .img-box {
    position: relative;
}
.img-gorup-wrapper .img-box .label {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.2222rem;
    padding: 0.0926rem 0.1852rem;
}
.img-gorup-wrapper .info {
    color: #fff;
    background: #5073a8;
    font-size: 0.1852rem;
    padding: 0.1852rem;
    line-height: 0.3704rem;
    margin: 0 ;
    font-weight: normal;
}
.img-box {
    position: relative;
}
.data-img {
    width: 8.6389rem;
    height: 5.5556rem;
    margin: 0.2778rem auto 0;
    display: block;
}
.main-content {
    width: 100%;
    overflow-x: hidden;
}
.content .main-content .p {
    width: 8.3333rem;
    margin: 0 auto;
    font-size: 0.1667rem;
    line-height: 0.3704rem;
    color: #202020;
    padding-bottom: 0.1852rem;
    text-indent: 0.5019rem;
}
.bg-green {
    background: #03a7a9;
}
.secton_2_3_bottom-img {
    width: 6.9444rem;
    margin: 0.1852rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.secton_2_3_bottom-img .left-box {
    width: 4.3148rem;
    height: 6.9445rem;
}
.secton_2_3_bottom-img .right-box {
    width: 2.3889rem;
}
.secton_2_3_bottom-img .right-box img {
    height: 3.3333rem;
    display: block;
    margin-bottom: 0.2315rem;
}
.secton_3_2_bottom-img {
    width: 6.9444rem;
    margin: 0.1852rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.secton_3_2_bottom-img .left-box {
    width: 4.3148rem;
}
.secton_3_2_bottom-img .right-box {
    width: 2.3889rem;
}
.secton_3_2_bottom-img .right-box img {
    height: 3.3333rem;
    display: block;
    margin-bottom: 0.2315rem;
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.mask .pop-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.mask .pop-wrapper .pop-btn {
    width: 9.8148rem;
    height: 0.8333rem;
    background: url('../images/bg/pop_btn_bg.png') no-repeat;
    background-size: 100%;
    font-size: 0.2593rem;
    color: #ad5c1b;
    text-align: center;
    line-height: 0.8333rem;
    font-weight: bold;
    display: block;
    margin: 0 auto 0.1852rem;
    cursor: pointer;
    text-decoration: none;
}
.page-group {
    position: fixed;
    width: 0.6111rem;
    height: 100%;
    right: 15px;
    top: 40%;
    z-index: 9;
}
.page-group button {
    display: block;
    font-size: 0;
}
.page-group .page-up {
    width: 0.6111rem;
    height: 0.7778rem;
    background: url(../images/icon/page-up.png) no-repeat;
    background-size: 100%;
}
.page-group .page-down {
    width: 0.6111rem;
    height: 0.7593rem;
    background: url(../images/icon/page-down.png) no-repeat;
    background-size: 100%;
}