/* ================== cover  =======================*/
.cover-header {
    position: relative;
    width: 10rem;
    height: 4.1296rem;
    background: url('../images/bg/cover_bg_header.jpg') no-repeat;
    background-size: 100%;
}
.cover-header .title {
    position: absolute;
    bottom: 0.5556rem;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 0.5556rem;
    color: #fbdaa5;
}
.cover-footer {
    position: relative;
    width: 10rem;
    height: 4.7593rem;
    background: url('../images/bg/cover_bg_footer.jpg') no-repeat;
    background-size: 100%;
}
.cover-footer .qr-box {
    position: absolute;
    width: 2.713rem;
    height: 3.0278rem;
    top: 0.9259rem;
    right: 0.6852rem;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0.0463rem;
}
.qr-box  canvas {
    width: 100%;
    height: 100%;
}
.qr-box .text {
    text-align: center;
    font-size: 0.1111rem;
    color: #000;
    margin-top: 0.0926rem;
    font-weight: bold;
}
.qr-box-c .text {
    text-align: center;
    font-size: 0.0926rem;
    color: #000;
    transform: scale(0.8);
}
/* ================== cover 轮播 =======================*/
.cover .content {
	/* 给定容器宽高度 */
	width: 10rem;
	overflow: hidden;
	height: 8.8981rem;
	position: relative;
	margin: 0 auto;
	background-color: #ccc;
}
img {
    width: 100%;
    height: 100%;
}
.points {
    position: absolute;
    z-index: 5;
    list-style: none;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.3704rem;
    left: 40%;
    height: 0.1852rem;
    right: 40%;
}
.points li {
	cursor: pointer;
	display: inline-block;
	width: 0.2407rem;
    height: 0.2407rem;
    margin-right: 0.1389rem;
	border-radius: 50%;
    background: none;
    border: 3px solid #fff;
}
.points li:last-child {
    margin-right: 0;
}
.points li.active {
    background:#deb222 !important;
    border: 3px solid #deb222;
}
/* .prev {
    border-radius: 0 0.2778rem 0.2778rem 0;
}
.next,
.prev {
    appearance: menu;
    margin: 0 auto;
    width: 0.3704rem;
    display: block;
    float: left;
    height: 0.3704rem;
    position: absolute;
	line-height: 0.3704rem;
	text-align: center;
	font-family: "宋体";
	color: aliceblue;
    z-index: 999;
    background-color: hsla(0,0%,0%,0.1);
    top: 45%;
    -webkit-appearance: button;
    cursor: pointer;
}
.next {
	right: 0rem;
	border-radius: 0.2778rem 0 0 0.2778rem;
}
.prev:hover{background-color: hsla(0,0%,0%,0.5);}
.next:hover{background-color: hsla(0,0%,0%,0.5);} */

/* ================== section1  =======================*/
/* .section-1 {
    background: url('../images/bg/section1_bg_header.png') no-repeat; 
    background-size: 100%;
    padding:0 0 3.4074rem 0;
    box-sizing: border-box;
} */
.section-1 {
    background: url('../images/bg/section1_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section1_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section2.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section2_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}

.section3.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section3_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section4.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section4_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section2-3.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section2_3_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section3-2.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section3_2_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section4-2.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.8981rem;
    z-index: 9;
    background: url('../images/bg/section4_2_bg_top.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.header .title {
    margin: 0.2778rem 0 0 0.6944rem;
    background: url('../images/icon/section1_title.png') no-repeat;
    width: 3.3611rem;
    height: 1.3426rem;
    background-size: 100%;
}
.section-2 {
    background: url('../images/bg/section2_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-3 {
    background: url('../images/bg/section3_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-4 {
    background: url('../images/bg/section4_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-2-3 {
    background: url('../images/bg/section2_3_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-3-2 {
    background: url('../images/bg/section3_2_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-4-2 {
    background: url('../images/bg/section4_2_bg_header.png') no-repeat; 
    background-size: 100%;
    /* padding:0 0 3.4074rem 0; */
    box-sizing: border-box;
}
.section-2 .header .title {
    margin: 0.2778rem 0 0 0.6944rem;
    background: url('../images/icon/section2_title.png') no-repeat;
    width: 3.3611rem;
    height: 1.3426rem;
    background-size: 100%;
}
.section-3 .header .title {
    margin: 0.2778rem 0 0 0.6944rem;
    background: url('../images/icon/section3_title.png') no-repeat;
    width: 3.3611rem;
    height: 1.3426rem;
    background-size: 100%;
}
.section-4 .header .title {
    margin: 0.2778rem 0 0 0.6944rem;
    background: url('../images/icon/section4_title.png') no-repeat;
    width: 3.3611rem;
    height: 1.3426rem;
    background-size: 100%;
}
.content {
    padding: 0 0.2963rem;
    margin-top: 1.8981rem;
    z-index: 8;
    overflow-y: auto;
    border-radius: 0.1481rem;
}
.content .p {
    padding: 0 0.6481rem;
    color: #fff;
    font-size: 0.2778rem;
    line-height: 0.3611rem;
    margin: 0 0 0.4259rem 0;
}
.content .p2 {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.2963rem;
    line-height: 0.4167rem;
    text-indent: 0.6019rem;
}
.content-chapter {
    position: relative;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 0.1481rem;
    padding-bottom: 0.6296rem;
}
.content-chapter::before {
    content:'';
    display: block;
    position: absolute;
    left: 0.6481rem;
    top: 0.2778rem;
    width: 0.3241rem;
    height: 0.3241rem;
    border-radius: 50%;
    background: #901d22;
}
.content-chapter::after {
    content:'';
    display: block;
    position: absolute;
    right: 0.6481rem;
    top: 0.2778rem;
    width: 0.3241rem;
    height: 0.3241rem;
    border-radius: 50%;
    background: #901d22;
}

.content-chapter .bar {
    display: block;
    position: absolute;
    top: -0.1111rem;
    width: 0.1944rem;
    height: 0.713rem;
    background: url('../images/icon/content_bar.png') no-repeat;
    background-size: 100%;
    z-index: 2;
}

/* ================== section_1  =======================*/
.time-line {
    position: relative;
    padding-top: 0.9259rem;
}
.time-month-wrapper {
    position: absolute;
    left: -0.1111rem;
    top: 0;    
    background: #5a88fe;
    font-size: 0.3704rem;
    color: #fff;
    text-align: center;
    width: 1.7593rem;
    height: 0.6944rem;
    line-height: 0.6944rem;
    border-radius: 0  0.3519rem 0.3519rem 0;
}
.time-month-wrapper {

}
.time-block {
    display: flex;
    justify-content: space-between;
    padding-right: 0.6481rem;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.calendar {
    border: 0.0278rem solid #c51321;
    width: 60px;
    height: 50px;
    display: block;
    margin: 0 0.6481rem 0 0.7407rem;
}
.calendar .day {
    display: block;
    font-size: 20px;
    color: #c51321;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #c51321;
}
.calendar .month {
    display: block;
    font-size: 0.1111rem;
    color: #c51321;
    text-align: center;
}
.time-content {
    position: relative;
    font-size: 16px;
    color: #000;
    line-height: 25px;
    display: flex;
    flex: 1;
}
.time-content::before {
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    background: #eeb95b;
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
}
.time-content::after {
    width: 4px;
    height: 100%;
    display: block;
    background: #eeb95b;
    content: '';
    position: absolute;
    left: -15px;
    top: 20px;
}
.img-group-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.2778rem;
    margin-top: 0.3704rem;
}
.min-gap {
    padding: 0 0.7407rem;
}
.min-gap2 {
    padding: 0 0.3704rem;
}
.img-group-2 .left-box {
    width: 3.5463rem;
}
.img-group-2 .left-box .img-box {
    margin-bottom: 0.5093rem;
}
.img-group-2 .left-box .img-box:last-child {
    margin-bottom: 0;
}
.img-group-2 .right-box .img-box:last-child {
    margin-bottom: 0;
}
.img-group-2 .right-box .img-box {
    margin-bottom: 0.5556rem;
}
.img-group-2 .right-box {
    width: 3.7222rem;
}
.img-group-2 .label {
    padding: 0.1389rem 0.1389rem;
    background: #e5e5e5;
    color: #1f1f1f;
    font-size: 0.1667rem;
}

/* ================== cover 轮播 =======================*/
.section-2 .slide {
	/* 给定容器宽高度 */
	width: 8.3333rem;
	overflow: hidden;
	height: 2.7963rem;
	position: relative;
	margin: 0.6111rem auto 0.9167rem;
    background-color: #ccc;
}
.section-2 .slide .img-box {
    position: relative;
}
.section-2 .slide p {
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 0.1852rem;
    top: 0.1852rem;
    padding: 0.0926rem 0.1852rem;
    line-height: 0.3704rem;
    background: rgba(255,255,255,0.6);
    max-width: 4.0741rem;
}
.section-2 .slide img {
	height: 100%;
	width: 100%;
}
.section-2 .slide .points {
    position: absolute;
    z-index: 5;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.3704rem;
    height: 0.3333rem;
    right: 0.1852rem;
    bottom: 0.1852rem;
    width: 1.4722rem;
    background: rgba(255,255,255,0.7);
    border-radius: 0.1667rem;
}
.section-2 .slide .points li {
	cursor: pointer;
	display: inline-block;
	width: 0.1574rem;
    height: 0.1574rem;
    margin-right: 0.1389rem;
	border-radius: 50%;
    background: #989898;
    border: none;
}
.section-2 .points li:last-child {
    margin-right: 0;
}
.section-2 .points li.active {
    background:#deb222 !important;
    border: none;
    width: 0.3148rem;
}
.prev {
    border-radius: 0 0.2778rem 0.2778rem 0;
}
.next,
.prev {
    appearance: menu;
    margin: 0 auto;
    width: 0.3704rem;
    display: block;
    float: left;
    height: 0.3704rem;
    position: absolute;
	line-height: 0.3704rem;
	text-align: center;
	font-family: "宋体";
	color: aliceblue;
    z-index: 999;
    background-color: hsla(0,0%,0%,0.1);
    top: 45%;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 0.3704rem;
}
.next {
	right: 0rem;
	border-radius: 0.2778rem 0 0 0.2778rem;
}
.prev:hover{background-color: hsla(0,0%,0%,0.5);}
.next:hover{background-color: hsla(0,0%,0%,0.5);}
.section_2_2-img {
   width: 8.537rem; 
   height: 5.8519rem;
   display: block;
   margin: 0 auto;
}
.secton_2_2_top-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.9167rem auto;
    background: #eddccb;
    padding: 0.2778rem 0.463rem;
    box-sizing: border-box;
}
.secton_2_2_top-img .img-box {
    width: 2.7685rem;
}
.secton_2_2_top-img .img-box img{
    width: 100%;
    display: block;
    height: 1.5833rem;
}
.secton_2_2_top-img p {
    margin: 0;
    font-size: 12px;
}
.secton_3_2_top-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2778rem 0.463rem;
    box-sizing: border-box;
}
.secton_3_2_top-img .img-box {
    width: 2.7685rem;
    position: relative;
}
.secton_3_2_top-img .img-box img{
    width: 100%;
    display: block;
    height: 2.1574rem;
}
.secton_3_2_top-img p {
    margin: 0;
    font-size: 12px;
}
.secton_2_2_bottom-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.secton_2_2_bottom-img .left-box {
    width: 3.8148rem;
}
.secton_2_2_bottom-img .right-box {
    width: 3.8148rem;
}
.secton_2_2_bottom-img .img-box {
    margin-bottom: 0.1852rem;
}
.secton_2_2_bottom-img p {
    font-size: 12px;
    margin: 0;
}
.section-2-3 .secton_2_2_top-img {
    background: #d7fbfb;
    margin: 0 auto;
}
.section-2-3 .p ,.section-2-3 .title-1{
    background: #d7fbfb;
}

.section-4 .p3, .section-4 .title-1{
    background: #ffedeb;
}
.section-4-2 .p4, .section-4-2 .title-1{
    background: #b4dbf1;
}
.section-2-3 .secton_2_2_top-img .img-box {
    position: relative;
    width: 2.7rem;
}
.section-2-3 .secton_2_2_top-img .img-box p {
    position: absolute;
    left: 0.0926rem;
    bottom: -0.1389rem;
    padding: 0.0741rem 0.1389rem;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,0.6);
}
.section-3 .secton_3_2_top-img .img-box p {
    position: absolute;
    left: 0.0926rem;
    bottom: -0.1389rem;
    padding: 0.0741rem 0.1389rem;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,0.6);
}
.section-2-3 .secton_2_2_top-img .img-box img {
    height: 2.1759rem;
}
.secton_2_3_img7 {
    width: 6.9444rem;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
}
.secton_2_4_img1 {
    width: 8.463rem;
    height: 2.4537rem;
    display: block;
    margin: 0.3704rem auto 0.9259rem;
}
.secton_3_2_img15 {
    width: 8.463rem;
    height: 2.0833rem;
    display: block;
    margin: 0.3704rem auto 0;
}
.secton_2_4_img2 {
    width: 7.7407rem;
    height: 5.0185rem;
    display: block;
    margin: 0.3704rem auto 0;
}
.secton_2_4_img3, .secton_2_4_img4 {
    width: 8.3333rem;
    height: 5.5556rem;
    display: block;
    margin: 0.3704rem auto 0;
}
.img-box-3-2 {
    padding: 0 0.7407rem;
}
.img-box-3-2 img {
    width: 100%;
}
.img-box-3-2 p {
    padding: 0.1389rem 0.1389rem;
    background: #e5e5e5;
    color: #1f1f1f;
    font-size: 0.1667rem;
}
.img-box-section4-img1 {
    padding: 0 0.3704rem;
    margin-top: 0.3704rem;
}
.img-box-section4-img2 {
    padding: 0 0.3704rem;
    margin-top: 0.3704rem;
    position: relative;
}
.img-box-section4-img2 p {
    position: absolute;
    bottom: 0.1852rem;
    left:0.5556rem;
    padding: 0.0926rem 0.1389rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
}
.bottom-img-3  p{
    position: absolute;
    bottom: 0.1389rem;
    left: 0.037rem;
    background: rgba(255,255,255,0.7);
    color: #000;
    padding: 0.0463rem 0.0926rem;
    font-weight: bold;
    font-size: 12px;
}